@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --primary-color: #843df5;
  --complete-color: #27aa80;
  --text-color: #172b4d;
  --disabled-color: #fad6d6;
  --background-color: #f5eaea;
}

html {
  min-height: 100vh;
  background: linear-gradient(to bottom, #843df5, #320972);
}

body {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}

label {
  font-size: 16px;
  display: block;
}

button,
input,
textarea {
  font-family: "Lato", sans-serif;
  padding: 10px;
  outline: none;
}

button {
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  transition: all ease 0.8s;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.addStatusBtn {
  background: var(--background-color);
  color: var(--primary-color);
  transition: all ease 0.8s;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 20px;
}

.submitbtn {
  margin-top: 30px;
}

input,
textarea {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
  width: 95%;
}

input:focus,
textarea:focus {
  outline: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.addStatusRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  background-color: white;
}

.item:hover {
  cursor: pointer;
}

.item-title {
  font-weight: 600;
  font-size: 16px;
}

.item-status {
  text-align: right;
}

.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
}

.col-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}

.col {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
}

.highlight-region {
  height: 95%;
  background-color: #9a85f9;
}

.page-header {
  background-color: #000000;
  padding: 20px;
  color: #843df5;
  font-size: 30px;
  font-weight: bold;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.modal {
  background-color: #f4f5f7;
  border-radius: 10px;
  margin: auto;
  height: 500px;
  width: 500px;
  outline: none;
  padding: 20px;
  border: 5px solid #843df5;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-title {
  flex: 1 90%;
  color: #843df5;
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 50px;
  width: 50px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 25px;
}

.close-btn:hover {
  background-color: #dcdcdc;
}

@media (max-width: 1200px) {
  .row {
    justify-content: flex-start;
    padding-bottom: 30px;
  }

  .addStatusRow {
    justify-content: flex-end;
    padding-bottom: 10px;
  }
}
